name: ci
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    if: "!contains(github.event.commits[0].message, '[ci skip]')"
    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.5', '2.6', '2.7', '3.0', '3.1', '3.2', '3.3', '3.4']
        gemfile: [rails_5.2.gemfile, rails_6.1.gemfile, rails_7.0.gemfile, rails_7.1.gemfile, rails_7.2.gemfile, rails_8.0.gemfile, rails_dev.gemfile]
        exclude:
          # Ruby 3.2 is min version for Rails 8
          - ruby: '2.5'
            gemfile: rails_dev.gemfile
          - ruby: '2.6'
            gemfile: rails_dev.gemfile
          - ruby: '2.7'
            gemfile: rails_dev.gemfile
          - ruby: '3.0'
            gemfile: rails_dev.gemfile
          - ruby: '3.1'
            gemfile: rails_dev.gemfile
          # Ruby 3.2 is min version for Rails 8.0
          - ruby: '2.5'
            gemfile: rails_8.0.gemfile
          - ruby: '2.6'
            gemfile: rails_8.0.gemfile
          - ruby: '2.7'
            gemfile: rails_8.0.gemfile
          - ruby: '3.0'
            gemfile: rails_8.0.gemfile
          - ruby: '3.1'
            gemfile: rails_8.0.gemfile
          # Ruby 3.1 is min version for Rails 7.2
          - ruby: '2.5'
            gemfile: rails_7.2.gemfile
          - ruby: '2.6'
            gemfile: rails_7.2.gemfile
          - ruby: '2.7'
            gemfile: rails_7.2.gemfile
          - ruby: '3.0'
            gemfile: rails_7.2.gemfile
          # Ruby 2.7 is min version for Rails 7.1
          - ruby: '2.5'
            gemfile: rails_7.1.gemfile
          - ruby: '2.6'
            gemfile: rails_7.1.gemfile
          # Ruby 2.7 is min version for Rails 7.0
          - ruby: '2.5'
            gemfile: rails_7.0.gemfile
          - ruby: '2.6'
            gemfile: rails_7.0.gemfile
          # Ruby 2.7 is max version for Rails 5.2
          - ruby: '3.0'
            gemfile: rails_5.2.gemfile
          - ruby: '3.1'
            gemfile: rails_5.2.gemfile
          - ruby: '3.2'
            gemfile: rails_5.2.gemfile
          - ruby: '3.3'
            gemfile: rails_5.2.gemfile
          - ruby: '3.4'
            gemfile: rails_5.2.gemfile
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake
