name: ci
on: [push]
jobs:
  build:
    if: "!contains(github.event.commits[0].message, '[ci skip]')"
    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.5', '2.6', '2.7', '3.0.0']
        gemfile: [rails_5.2.gemfile, rails_6.1.gemfile]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - run: gem install bundler
      - name: Configure bundler (alternative)
        run: |
          echo "BUNDLE_GEMFILE=gemfiles/${{ matrix.gemfile }}" >> $GITHUB_ENV
      - run: bundle install --gemfile=gemfiles/${{ matrix.gemfile }}
      - run: bundle exec rake
